<li class="comment">
  <div class="commentBody">
    <% if comment.look && comment.look.length > 0 %>
      <%= erb :minilook, locals: {url: nil, xtraStyle: 'float: left; margin: 0 0.5em 0.5em 0;', width: '8em', look: comment.look} %>
    <% end %>
    <%= comment.body %></div>
  <div class="commentInfo">
    <%= comment.user.name %>
    <% if comment.user.look %>
      <%= erb :minilook, locals: {url: "/users/#{comment.user.id}/look", width: '16px', look: comment.user.look, user_id: comment.user.id} %>
    <% end %> - <%= chron comment.created_at %>
  </div>
</li>
