<script type="text/javascript">
  let encoded = "<%= @qwel.rep %>";
  let qwelIdStr = "<%= @qwel.id %>";
  let qwelFrenIdStr = "<%= @qwel.fren_id %>";
  let frenIdStr = "<%= fren ? fren.id : nil %>";
</script>
<div id="actions">
  <div class="col left">
    <button class="action spaceRight" id="play" onclick="play()">play</button>
    <span class="spaceRight">
      <a id="download" href="#">download</a>
    </span>
    <span class="spaceRight">
      <a href="/">home</a>
    </span>
    <% if !fren %>
      <span class="spaceRight">
        <a href="/frens/new">log in</a>
      </span>
    <% end %>
    <% if fren %>
      <span>hello, <%= fren.name %></span>
    <% end %>
  </div>
  <div class="col center" id="nameline">
    <input type="text" id="name" name="name" placeholder="name" />
    <% if fren && (@qwel.id.nil? || @qwel.fren_id == fren.id) %>
      <button id="save" disabled class="action" onclick="save()">save</button>
    <% end %>
    <span id="saveNotice">saved!</span>
  </div>
  <div class="col right">
    <h1>quick loops</h1>
  </div>
</div>
<div id="mainq">
  <h2>sequence</h2>
  <div id="sequence">
    <select class="step">
      <option value>-</option>
      <option selected value=1>1</option>
    </select>
    <select class="step">
      <option selected value>-</option>
      <option>1</option>
    </select>
  </div>
  <h2 class="no-bottom-margin">phrases</h2>
  <div class="phrases">
  </div>
</div>
<div class="cont gridContainer proto">
  <table>
    <tr><td>C</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>B</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>A#</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>A</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>G#</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>G</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>F#</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>F</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>E</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>D#</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>D</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>C#</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>C</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  </table>
  <button style="float: right;" class="delete">delete</button>
  <label>wave</wave>
  <select class="tone">
    <option value=0>sqr</option>
    <option selected value=1>sine</option>
    <option value=2>tri</option>
    <option value=3>fuzz</option>
  </select>
  <label>octave</label>
  <select class="octave">
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option selected value=4>4</option>
    <option value=5>5</option>
    <option value=6>6</option>
    <option value=7>7</option>
    <option value=8>8</option>
  </select>
  <label>length</label>
  <select class="notelength">
    <option value=0.25>25%</option>
    <option value=0.5>50%</option>
    <option value=0.75>75%</option>
    <option selected value=1>100%</option>
  </select>
  <br />
  <label>volume</label>
  <select class="volume">
    <option value=0.25>25%</option>
    <option value=0.5>50%</option>
    <option value=0.75>75%</option>
    <option selected value=1>100%</option>
  </select>
  <label>pan</label>
  <select class="pan">
    <option value=0>left</option>
    <option value=1>mid left</option>
    <option selected value=2>center</option>
    <option value=3>mid right</option>
    <option value=4>right</option>
  </select>
</div>
<div id="addphrase" onclick="createPhrase()">+</div>
