<script type="text/javascript">
  let encoded = "<%= @tune.rep %>";
  let tuneIdStr = "<%= @tune.id %>";
  let tuneUserIdStr = "<%= @tune.user_id %>";
  let userIdStr = "<%= current_user ? current_user.id : nil %>";
  let forkIdStr = "<%= @fork_id %>";
  let forkRepStr = "<%= @fork_rep %>";
</script>
<div id="actions">
  <div class="innerActions">
    <div style="flex: 0;" class="col left">
      <a href="/">QL</a>
    </div>
    <div class="col right">
      <span class="spaceRight">
        <a id="download" href="#">download</a>
      </span>
      <% if !current_user %>
        <span class="spaceRight">
          <a href="/users/new">log in</a>
        </span>
      <% end %>
    </div>
  </div>
  <div class="nameLine">
    <input <%= (current_user && (@tune.id.nil? || @tune.user_id == current_user.id)) ? '' : 'readonly' %> type="text" id="name" name="name" placeholder="name" />
    <% if current_user && (@tune.id.nil? || @tune.user_id == current_user.id) %>
      <button id="save" disabled class="action" onclick="save()">save</button>
    <% end %>
    <span id="saveNotice">✓</span>
  </div>
  <% if current_user && current_user.id != @tune.user_id && @tune.id %>
    <div style="display: flex; justify-content: center; padding-top: 0.5em">
      <% if @remix_id %>
        <span style="font-size: 0.8em;">You remixed this tune already, see your remix <a href="/tunes/<%= @remix_id %>">here!</a></span>
      <% else %>
        <form method="POST" action="/tunes/<%= @tune.id %>/remix">
          <input type="hidden" id="rep" name="rep" value="<%= @tune.rep %>" />
          <input type="hidden" name="authenticity_token" value="<%= env['rack.session'][:csrf] %>" />
          <input type="submit" value="remix" />
        </form>
      <% end %>
    </div>
  <% end %>
</div>
<div id="mainq">
  <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= env['rack.session'][:csrf] %>" />
  <input type="text" id="rep" value="<%= @tune.rep %>" style="display: none;"/>
  <div class="title">sequence</div>
  <div id="sequence">
    <select class="step">
      <option value>-</option>
      <option selected value=1>1</option>
    </select>
    <select class="step">
      <option selected value>-</option>
      <option>1</option>
    </select>
  </div>
  <div class="title">phrases</div>
  <div class="phrases">
  </div>
</div>
<div class="cont gridContainer proto">
  <div class="gridActions">
    <!-- <label>copy to phrase</label>
    <select class="phraseCopySelect">
      <option value>-</option>
    </select>
    <button class="copy">copy</button> -->
    <a href='#' class="noStyle delete">x</a>
  </div>
  <div class="t"><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div><div class="d noselect"><div class="b noselect"><div class="c noselect"></div></div></div></div>
  <div class="inlineBlock">
    <label>wave</label>
    <select class="tone">
      <option value=0>sqr</option>
      <option selected value=1>sine</option>
      <option value=2>tri</option>
      <option value=3>nois</option>
      <option value=4>saw</option>
      <option value=5>drum</option>
    </select>
  </div>
  <div class="inlineBlock">
    <label>octave</label>
    <select class="octave">
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option selected value=4>4</option>
      <option value=5>5</option>
      <option value=6>6</option>
      <option value=7>7</option>
      <option value=8>8</option>
    </select>
  </div>
  <div class="inlineBlock">
    <label>length</label>
    <select class="notelength">
      <option value=0.25>¼</option>
      <option value=0.5>½</option>
      <option value=0.75>¾</option>
      <option selected value=1>1</option>
    </select>
  </div>
  <div class="inlineBlock">
    <label>volume</label>
    <select class="volume">
      <option value=0.25>¼</option>
      <option value=0.5>½</option>
      <option value=0.75>¾</option>
      <option selected value=1>1</option>
    </select>
  </div>
  <div class="inlineBlock">
    <label>pan</label>
    <select class="pan">
      <option value=0>l</option>
      <option value=1>lc</option>
      <option selected value=2>c</option>
      <option value=3>rc</option>
      <option value=4>r</option>
    </select>
  </div>
  <div class="inlineBlock">
    <label>reverb</label>
    <select class="reverb">
      <option selected value=0>none</option>
      <option value=1>room</option>
      <option value=2>hall</option>
      <option value=3>space</option>
    </select>
  </div>
</div>
<div id="addphrase" onclick="createPhrase()">+</div>
<div class="bottomThing">
  <button>hi</button>
</div>
<div id="bottomActions">
  <button class="action" id="play" onclick="play()">play</button>
</div>
